* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f5f7fb;
  color: #333;
  background-image: url("/background.png");
  background-size: cover; /* 画面いっぱい */
  background-position: center; /* 中央 */
  background-repeat: no-repeat; /* 繰り返さない */
  background-attachment: fixed; /* スクロールでも固定（任意） */

  color: #fff; /* 文字が見やすいように */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
