* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: #f5f7fb;
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}
